.bar {
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: visible;
}

.logo {
    position: absolute;
    left: 2rem;
    flex-shrink: 0;
    margin-left: 2rem;
    width: 5rem;
    height: 6rem;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    cursor: pointer;
}

.logo-left {
    position: absolute;
    left: 1rem;
    flex-shrink: 0;
    margin-left: 2rem;
    width: 7rem;
    height: 7rem;
    background-color: skyblue;
    z-index: 18;

}

.logo-right {
    position: absolute;
    left: 4rem;
    flex-shrink: 0;
    margin-left: 2rem;
    width: 3.5rem;
    height: 8rem;
    background-color: palevioletred;
    z-index: 19;

}

.logo h1 {
    color: aliceblue;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

.search {
    margin-left: 12rem;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.search input {
    width: 20rem;
    height: 2rem;
    border: 2px solid #000000;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
}

.search button {
    width: 3rem;
    height: 2rem;
    background-color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding-right: 2rem;
}

.options button {
    width: 5rem;
    height: 3rem;
    background-color: white;
    border: 2px solid #000000;
    color: black;
    font-weight: 800;
    border-radius: 0.5rem;
    cursor: pointer;
}

.options button:hover {
    background-color: #000000;
    color: white;
}

.user-ava {
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}